<div class='row'>
    
    <div class='col-md-9'>

<div data-bind="text: answerDisplay"></div>

Enter Guess Here <input data-bind="enable: canAnswer, textInput: guess"/>

<input type='button' value='Start' data-bind='{value: gameButtonDisplay, click: gameAction}' />
<input type='button' value='Give Up' data-bind='click: giveUp' />



<div data-bind='text: timeDisplay'></div>

</div>
    
    <div class='col-md-3'>
        <h4>Subquizzes</h4>
        <ul class='list-group'>
       <!-- ko foreach: SubQuizzes -->
<li class='list-group-item' data-bind='css: completeCSS'><span data-bind='text: Display'></span> - <span data-bind='text: answerDisplay'></span></li>
<!-- /ko -->
</ul>
    </div>
    
</div>



